header>h1 
{
    font-style: italic;
    background-color: rgb(252, 1, 1);
}

div>p
{
color: firebrick;
}

p,h3,nav,a
{
    text-align: center;
}

p,nav,a
{
    font-weight: bolder;
}



.blue_text{
    color: rgb(47, 0, 255);}

.itallic_text{
    font-style: italic;
}

.center_text{
    text-align: center;
}

h1:hover{
    font-size: 25px;
}

img:hover{
    filter: opacity(0);
}

p:active{
    font-family: cursive;
}

h3:active{
    color: hotpink;
}